# Spotify API 설정
# Spotify Developer Dashboard에서 앱을 생성하고 Client ID와 Client Secret을 가져오세요
# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# Google Translate API 설정
# Google Cloud Console에서 Translation API를 활성화하고 API 키를 생성하세요
# https://console.cloud.google.com/apis/library/translate.googleapis.com
GOOGLE_TRANSLATE_API_KEY=your_google_translate_api_key_here

# Genius API 설정 (선택사항)
# Genius API를 사용하려면 액세스 토큰을 생성하세요
# https://genius.com/api-clients
GENIUS_ACCESS_TOKEN=your_genius_access_token_here 